.cardItemDetail {
    width: 350px;
    height: 650px;
    background-color: blanchedalmond;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    left: 36%
}